<br/>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-8 font-italic">Log in to Housing Development UK</h1>
            <!--
            <p class="lead my-3">{{ blog.publish_date }}</p>
            -->
        </div>
    </div>
    <form method="POST" action="/users/login">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="joebloggs@email.com">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>