<br/>
<div class="container">

    <% if flash[:message] %>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-danger">
            <div class="col-md-6 px-0">
                <h1 class="display-8 font-italic">Unsuccessful sign up.</h1>
                <p class="lead my-3"><%= flash[:message] %></p>
            </div>
        </div>
    <% else %>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-8 font-italic">Sign up for Housing Development UK</h1>
            </div>
        </div>
    <% end %> 

    <form method="POST" action="/users/signup">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="first_name">First name:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Joe">
            </div>
            <div class="form-group col-md-6">
                <label for="last_name">Last name:</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Bloggs">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="joebloggs@email.com">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </div> 
        <div class="form-group">
            <div class="form-check" data-toggle="collapse" href="#developer_attributes" role="button" aria-expanded="false" aria-controls="developer_attributes">
                <input class="form-check-input" type="checkbox" id="developer" name="developer">
                <label class="form-check-label" for="developer">
                    I am a developer.
                </label>
            </div>
        </div>
        <div class="collapse" id="developer_attributes">
            <div class="form-group">
                <label for="company">Company name:</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="Blogg's Development">
            </div>
            <div class="form-group">
                <label for="website">Company Website URL:</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="bloggsdev.co.uk">
            </div>
            </div>
        <button type="submit" class="btn btn-light btn-block">Sign up</button>
    </form>
</div>