<br/>
<div class="container">
    
    <% if flash[:message] %>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-danger">
            <div class="col-md-6 px-0">
                <h1 class="display-8 font-italic">New development error.</h1>
                <p class="lead my-3"><%= flash[:message] %></p>
            </div>
        </div>
    <% else %>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-8 font-italic">New development for <%= current_user.company %>.</h1>
            </div>
        </div>
    <% end %> 


    <form method="POST" action="/developments">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="New development title">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" rows="10" name="content" placeholder="Development information content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Development</button>
    </form>
</div>