<br/>
<main role="main">
  <div class="container">

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic"><%= @development.title %></h1>
        <!--
        <p class="lead my-3"><%= @development.address %></p>
        -->
      </div>
    </div>

    <!--
    <img class="img-fluid rounded" src="" />
    -->
    <br/>
    <br/>
    <p><%= @development.content %></p>
    <br/>
    </div>
</main>