<section class="jumbotron jumbotron-fluid text-center">
  <br><br><br><br>
  <div class="container">
    <h1>Sorry the route  <%= @current_uri %> does not currently exist...</h1>
      <p class="lead text-muted">Click <a href="/">here</a> to return home.</p>
  </div>
  <br><br><br><br>
</section>

<br><br><br><br><br><br><br><br><br><br>
