<!doctype html>
<html>
  <head>
    <title>Housing Devlopment UK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body>

    <header>
      <!-- Nav example from Bootstrap website -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Housing Devlopment UK Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">

            <% if logged_in? %>
              <% if current_user.developer %>
                <a class="nav-item nav-link" href="/users/<%= current_user.slug %>"><%= current_user.company %></a>
              <% end %>
              <a class="nav-item nav-link" href="/users/logout">Log out</a>
            <% else %>
              <a class="nav-item nav-link" href="/users/login">Log in</a>
              <a class="nav-item nav-link" href="/users/signup">Sign up</a>
            <% end %>

          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

  <footer class="footer mt-auto">
    <hr />
    <div class="container text-center text-muted">
      <span> Housing Development UK <%= Time.now.year %></span>
    </div>
  </footer>

  </body>
</html>