<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Welcome to the Housing Development UK.</h1>
    <p class="lead text-muted">To view the latest developments and leave comments, please sing up or log in.</p>
  </div>
</section>

<div class="album pt-4 bg-white">
  <div class="container">

    <div class="card-deck">

      <% @developments.slice(-3,3).each do |development| %>
        <div class="card mb-4 bg-light shadow-sm" style="min-width: 18rem;">
          <!--
          <img class="card-img-top rounded" src="{{ job.image.url }}" />
          -->
          <div class="card-body">
            <h2 class="card-heading"><%= development.title %></h2>
            <p class="card-text"><%= development.summary %></p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
