<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>Welcome to Housing Development UK.</h1>
    <% if logged_in? %>
      <p class="lead text-muted">Here are the latest developments. Click on them to find out more.</p>
    <% else %>
      <p class="lead text-muted">To view the latest developments and leave comments, please sign up or log in.</p>
    <% end %>
  </div>
</section>

<div class="album pt-4 bg-white">
  <div class="container">
    <div class="card-deck">
      <% @developments.slice(-3,3).each do |development| %>
        <div class="card mb-4 bg-light shadow-sm" style="min-width: 18rem;">
          <!--
          <img class="card-img-top rounded" src="{{ job.image.url }}" />
          -->
          <a class="text-dark card-link" href="/developments/<%= development.slug %>">
            <div class="card-body">
              <h2 class="card-heading"><%= development.title %></h2>
              <p class="card-text"><%= development.summary %></p>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
